<li [ngClass]="{'list-group-item': true,
               'list-group-item-success': loveIts > 0,
               'list-group-item-danger': loveIts < 0
             }">

  <div class="row">
    <h2 class="col-md-6">{{ postTitle }} </h2>
    <h4 class="col-md-6 text-right">{{ postDate | date: 'MM/dd/yyyy, h:mm a' | uppercase }}</h4>
  </div>
  <p>{{ postContent }}</p>
  <button class="btn btn-success" (click)="addLoveIt()">Love It</button>&nbsp;
  <button class="btn btn-danger" (click)="removeLoveIt()">Don't Love It</button>
</li>
